body {
    font-family: "Source Sans Pro", sans-serif;
}

h1 {
    font-size: 56px;
    line-height: 61.6px;
}

h2 {
    font-size: 48px;
    line-height: 52.8px;
}

h3 {
    font-size: 40px;
    line-height: 44px;
}

h4 {
    font-size: 32px;
    line-height: 32.5px;
}

h5 {
    font-size: 24px;
    line-height: 26.4px;
}

h6 {
    font-size: 20px;
    line-height: 22px;
}

.text-s {
    font-size: 14px;
    line-height: 19.6px;
}

.text-n {
   font-size: 16px;
   line-height: 22.4px;
}

.text-m {
   font-size: 18px;
   line-height: 25.2px;
}

.text-l {
   font-size:20px;
   line-height: 28px;
}

.text-pc {
   color: #223354;
}

.text-sc {
   color:#1ab4d7
}

.c-info {
   color:#b0a0fd;
}

.c-success {
    color:#27ae60;
}

.c-warning {
    color: #e2b93b;
}

.c-error {
    color: #eb5757;
}

.c-b1 {
   color: #000000;
}

.c-b2 {
   color:#1d1d1d ;
}

.c-b3 {
    color: #282828;
}

.c-white {
   color:#ffffff;
}

.c-g1 {
    color:#333333;
}

.c-g2 {
    color:#4f4f4f;
}

.c-g3 {
    color:#828282;
}

.c-g4 {
    color:#bdbdbd;
}

.c-g5 {
    color:#e0e0e0;
}

 